<html>
<head>
<title>Bank Global Access System</title>
<link href="home1.css.scss" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="img11">
    <div id="img21">
        <div id="title">
            <h1><a href="#" target="_parent">
                    <img src="templatemo_logo.png" alt="Bank Global Access System" />
            </a></h1>
        </div>
    </div> 

</div> 

<div id="img31">
      <div id="img41">
         <div id="img51">
         </div>
         </div>
</div> 

<div id="img61">

    <div id="img71">
    <ul>
            <li><%= link_to 'Home', home_index_path %><span></span></a></li>
            <li><%= link_to 'Gallery',gallarys_path %><span></span></a></li>
            <li><%= link_to 'AboutUs',abouts_path %><span></span></a></li>
            <li><%= link_to 'ContactUs',new_contact_path %><span></span></a></li>
            <li><%= link_to 'HelpLine',helps_path %><span></span></a></li>
        </ul>   
    
    </div> 

</div> 

<div id="img81">
<br>
<div id="mine">
<h1> HelpLine </h1>
</div><br>
<div id="rh"></div>
<br><br>
<p class="pf">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank Global Access System is Useful For Online Transaction. If you Need any Help then Contact Near Bank</p>
<br>
<br>

<br>
<br />

</div> <!-- end of Content Design -->
<div id="img911"></div>

<div id="templatemo_footer">
 <ul class="footer_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Gallery</a></li>
            <li class="last_menu"><a href="#">Contact</a></li>
        </ul>
    
        Copyright © 2014 <a href="#">Climb Education(Carmatec IT Solution)</a> | 
        Designed by <a href="#" target="_parent">Mylaraswamy</a> | 
        Validate <a href="#">ROR</a> &amp; <a href="">XHTML,CSS and JQuery</a>
</div>
</div> <!-- end of footer -->

</body>
</html>
<style type="text/css">
  .pf{
    font-size: 16px;
  }
</style>


