<html>
<head>
<title>Bank Global Access System</title>
<link href="mlogin1.css.scss" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="mlogin.css.scss">
</head>
<body>
<div id="img111">
    <div id="img211">
        <div id="title">
            <h1><a href="#" target="_parent">
                    <img src="templatemo_logo.png" alt="Bank Global Access System" />
            </a></h1>
        </div>
    </div> 

</div> 

<div id="img311">
      <div id="img411">
         <div id="img511">
         </div>
         </div>
</div> 

<div id="img611">

    <div id="img711">
    
       <ul>
            <li><%= link_to 'Home', home_index_path %><span></span></a></li>
            <li><%= link_to 'Gallery',gallarys_path %><span></span></a></li>
            <li><%= link_to 'AboutUs',abouts_path %><span></span></a></li>
            <li><%= link_to 'ContactUs',new_contact_path %><span></span></a></li>
            <li><%= link_to 'HelpLine',helps_path %><span></span></a></li>
        </ul>          
    
    </div> 

</div> 

<div id="img811">
<br>
<br>
<div id="login">

<h1>Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
  <div id="login2">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    </div>
    </fieldset>

  <% end %>

<fieldset>
<div id="login3">
<p style="font-size: 24px;">
  <div class="actions">
    <%= f.submit "Log in" %>
  </div><br></p>


<%= render "devise/shared/links" %><br>
  
</div>
</div>
</fieldset>
<br />
<br />
<br />
<br />
<br /><br />

<br />
<br /><br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</div> <!-- end of Content Design -->
<div id="img911"></div>

<div id="templatemo_footer">
  
        <ul class="footer_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Gallery</a></li>
            <li class="last_menu"><a href="#">Contact</a></li>
        </ul>
    
        Copyright © 2014 <a href="#">Carmatec IT Solution (Climb Education)</a> | 
        Designed by <a href="#" target="_parent">Mylaraswamy</a> | 
        Validate <a href="#">ROR</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">XHTML,CSS and JQuery</a>
</div> <!-- end of footer -->

</body>
</html>
<% end %>
